.popup__line-3 {
    max-width: 358px;
    opacity: 0.2;
    border-bottom: 1px solid #000000;  
    margin-bottom: 60px;
}


@media screen and (max-width: 650px) {
    .popup__line-3 {
    padding: 0;
    margin-bottom: 45px;
    max-width: 238px;
    }
}