.header__logo {
    max-width: 142.01px;
    max-height: 33.4px;
    color:white;
    padding:0;
    margin: 0;
}

@media screen and (max-width: 320px) {

    .header__logo {
        padding: 28px 0 31px 27px;
        width: 103.74px;
        height: 24.4px;
    }

}