.element__group {
    background-image:url(../../../images/hurt.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 21px;
    height: 18px;
    border: 0;
    background-color: transparent;
    margin: 0 18px 0 0; 
    padding: 0;    
}
.element__group:hover {
    transition: 0.3s ease-in-out;
    transform: scale(1.2);
    }