.popup__close-icon {
    position: absolute;
    width: 45.7px;
    height: 45.7px;
    top: -37px;
    right: -37px;
    background-image:url(../../../images/Close\ Icon.svg);
    background-repeat: no-repeat;
    background-size: cover;
    border: 0;
    background-color: transparent;
    margin: 0; 
    padding: 0; 

}

.popup__close-icon:hover {
    opacity: 0.6;
    transition: 0.3s ease-in-out;
    border: 0;
}

@media screen and (max-width: 635px) {
    .popup__close-icon {
        right: 2px;
        height: 26px;
        width: 26px;
    }
}