.profile__job {
    margin-top: 16px;
    font-size: 18px;
    line-height: 22px;
    padding: 0;
    margin: 0;
    }

    
    @media screen and (max-width: 635px) {
        .profile__job {
            font-size: 14px;
            text-align: center;
        }
    }